---
import ProjectCard from "@/components/ProjectCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";

const { default_language } = config.settings;

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

let { lang } = Astro.params;

if (!lang) {
  lang = default_language;
}

const projectIndex = await getListPage(
  "projects",
  lang as keyof ContentEntryMap,
);
const projects = await getSinglePage("projects", lang as keyof ContentEntryMap);
---

<Base {...projectIndex[0].data}>
  <PageHeader {...projectIndex[0].data} />
  <section class="section">
    <div class="container">
      <ProjectCard projectIndex={projectIndex[0]} projects={projects} />
    </div>
  </section>
</Base>
