---
import ServiceCard from "@/components/ServiceCard.astro";
import { markdownify } from "@/lib/utils/textConverter";

const { serviceIndex, services } = Astro.props;
---

<section class="bg-gray-white">
  <div class="section bg-secondary pb-[240px]">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <span class="section-title-border border-center"></span>
            <p
              class="h5"
              set:html={markdownify(serviceIndex?.data?.subtitle)}
            />
            <h2
              class="h1 text-white"
              set:html={markdownify(serviceIndex?.data?.title)}
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="translate-y-[-200px]">
    <ServiceCard services={services.slice(0, 3)} />
  </div>
</section>
